@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Fira Sans", sans-serif;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

li, a {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #ed125f;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background-color: #3b073c;
}

.logo {
  cursor: pointer;
  width: 50px;
  height: auto;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0 1.25rem;
}

.links li a:hover {
  color: #fff;
}

.btn {
  padding: .625rem 1.5625rem;
  background-color: #ed125f;
  color: #fff;
  border: none;
  border-radius: 1.5rem;
}

.btn:hover {
  background-color: #fff;
  color: #ed125f;
}

h1 {
  font-size: 3.125rem;
  font-family: "Fira Sans", sans-serif;
  color: #3b073c;
  margin-bottom: -1rem;
}

h2 {
  font-size: 1.5625rem;
  font-family: Montserrat, sans-serif;
  color: #ed125f;
  margin-bottom: -1rem;
}

h3 {
  font-size: 1.5625rem;
  font-family: Montserrat, sans-serif;
  color: #ed125f;
  margin-bottom: -1rem;
}

.intro {
  line-height: 2;
  padding-left: 5rem;
  width: 50rem;
  padding-bottom: 2rem;
}

.intro p {
  color: #3b073c;
}

.work {
  line-height: 2;
  text-align: right;
  padding-right: 5rem;
  background-color: #3b073c;
  padding-bottom: 2rem;
  float: right;
}

.work h2 {
  color: #fff;
  width: 50rem;
  font-size: 3.125rem;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: -1rem;
}

.work p {
  color: #fff;
  width: 50rem;
}

.message {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 1rem;
}

.formheader {
  text-align: center;
  color: #3b073c;
}

.formheader p {
  color: #3b073c;
}

input {
  width: 100%;
  margin: 20px 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid #3b073c;
  font-size: .9375rem;
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 1rem;
}

#msg {
  margin-top: 60px;
}

.formbtn {
  padding: .625rem 1.5625rem;
  background-color: #ed125f;
  color: #fff;
  border: none;
  border-radius: 1.5rem;
}

.formbtn:hover {
  background-color: #fff;
  color: #ed125f;
}

.skip-links {
  position: fixed;
  list-style-type: none;
}
